@import "../../App.scss";


footer{
	background:$primary;
	color:#fff;
	padding:2rem 0rem;
	margin-top:5rem;

	.u-container{
		display:flex;
		justify-content: space-between;
		align-items: center;

		@media only screen and(max-width:500px){
			flex-direction: column;
		}
	}

}

.footer{
	&__items{
		display:flex;
		justify-content: space-evenly;
		align-items: center;

	}


	&__item{
		padding:1rem 1.5rem;
	}

	&__link{
		color:#fff;
		font-size:1.3rem;
		&:hover{
			color:$gray;
		}
	}
}